@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Style+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F1EEE5;
}

.tarjeta {
padding: 5%;
}

.mostrar{
  display: flex;
}
.no-mostrar {
  display: none !important;
}

img {
  width: 100%;
height: 100%;
object-fit: contain;
  margin: 0;
}


  h1 {
    font-family: 'Style script', cursive;
    font-size: 8rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: white;
    margin: 0;
  }

  #y {
    font-family: 'Style script', sans-serif;
    font-size: 6rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
    margin: 0;
  }

  #blanco {
    color: white;
  }

  #negrita {
    font-weight: 600;
  }

  h2 {
    font-family: 'Style script', sans-serif;
    font-size: 5rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #B37762;
  }

  h3 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #B37762;
  }

  h4 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    color: #B37762;
  }

  h5 {
    font-family: 'Fahkwang', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #B37762;
  }

  a{
    margin: 5%;
    text-decoration: none;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    text-align: justify;
    color: #B37762;
  }

  button{
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 30px;
    border: 4px solid rgba(209, 213, 219, 0.3);
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
    width: 80%;
    height: 20%;
  }

  #cuenta{
    width: 100%;
    height: 100%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .simply-section{
    backdrop-filter: blur(20px) saturate(134%);
    -webkit-backdrop-filter: blur(8px) saturate(134%);
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 12px;
    border: 4px solid rgba(209, 213, 219, 0.3);
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
    width: 10%;
    margin: 2% 0%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .simply-amount{
    display: block;
    font-family: 'Style script', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #B37762;
  }
  .simply-word{
    font-family: 'Fahkwang', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #B37762;
  }

  .inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .boton {
    /*position: absolute;
    top: 80%;
    left: 60%;*/
    color: white;
  }

  .titulo {
    backdrop-filter: blur(20px) saturate(134%);
    -webkit-backdrop-filter: blur(8px) saturate(134%);
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 12px;
    border: 4px solid rgba(209, 213, 219, 0.3);
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.frase1 {
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.frase1 h2 {
  margin-top: 80%;
  margin-bottom: 0;
}

.petalos-izq {

  }

.petalos-der {
    position: relative;

  }



#textura {
  margin: 0;
  padding: 0;
  background-image: url("../img/textura.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.fecha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

